<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/header.css">
    <link rel="stylesheet" href="/public/css/body.css">
    <link rel="stylesheet" href="/public/css/cards.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="logo-container">
            <div class="logo">
                <span class="logo-text">PM</span>
            </div>
            <div class="me">
                ME!
            </div>
        </div>
        <div class="section-text">
            <h1>Inicio</h1>
        </div>
        <div class="icons">
            <div class="profile">
                <img src="/public/imgs/profile_11541176.png" alt="Foto de perfil" class="profile-img">
                <label class="user" for="">Name</label>
            </div>
        </div>
    </header>
    <div class="body-container">
        <aside class="navigation"> 
            <h2 class="nav-label">Navigation</h2> 
            <button class="nav-btn" onclick="navigateTo('/src/views/index.html')"> 
                <img src="/public/imgs/clock-two_7546832.svg" alt="Dashboard Icon" class="nav-img"> 
                <span class="nav-text">DASHBOARD</span> 
            </button> 
            <button class="nav-btn" onclick="navigateTo('/src/views/movents.html')"> 
                <img src="/public/imgs/time_16422146.png" alt="Movements Icon" class="nav-img"> 
                <span class="nav-text">MOVEMENTS</span> 
            </button>
            <button class="nav-btn" onclick="navigateTo('/src/views/cards.html')"> 
                <img src="/public/imgs/business_16093147.png" alt="Cards Icon" class="nav-img">
                <span class="nav-text">CARDS</span>
            </button> 
            <button class="nav-btn" onclick="navigateTo('/src/views/payments.html')"> 
                <img src="/public/imgs/pay_9748078.png" alt="Payments Icon" class="nav-img">
                <span class="nav-text">PAYMENTS</span> 
            </button> 
        </aside>
        <div class="main-content">
            <div class="form-card">
                <h2>Add a New Card</h2>
                <form id="card-form">
                    <div class="input-group">
                        <input type="text" id="card-number" maxlength="16" placeholder="Card Number" />
                        <div class="error-message"></div>
                    </div>
                    <div class="input-group">
                        <input type="text" id="expire-date" maxlength="5" placeholder="Expiration Date (MM/YY)" />
                        <div class="error-message"></div>
                    </div>
                    <div class="input-group">
                        <input type="text" id="cvv" maxlength="3" placeholder="CVV" />
                        <div class="error-message"></div>
                    </div>
                    <button type="submit" class="btn">Add Card</button>
                </form>
            </div>
        </div>        
    </div>
    <script src="/public/js/cards.js"></script>
    <script src="/public/js/btns.js"></script>
</body>
</html>