.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #f0f0f5;
}

.form-container {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
}

/* form-card */
.form-card {
    background: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.form-card h2 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

.separator {
    height: 2px;
    background: linear-gradient(to right, #FFAB2B, #F08418);
    margin: 20px 0;
}

.input-group {
    margin-bottom: 20px;
    position: relative;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    color: #666;
    font-weight: bold;
}

.input-group input,
.input-group select,
.input-group textarea {
    width: 95%;
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.3s;
}
.input-group select{
    width: 100%;
}
.input-group input:focus,
.input-group select:focus,
.input-group textarea:focus {
    border-color: #007bff;
}

.error-message {
    color: #e74c3c;
    font-size: 12px;
    display: none;
    position: absolute;
    bottom: -20px;
    left: 0;
}

/* submit button */
.btn {
    width: 100%;
    padding: 14px;
    background: linear-gradient(to right, #FFAB2B, #F08418);
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.btn:hover {
    background: linear-gradient(to right, #f0ab45, #d67e26);
}
